@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 991px) {
  
  /* navbar & toggler design */
  .menu-toggler {
    display: block;
  }
  .logo1 {
    background-color: #fff;
    padding: 0px 10px;
  }
  .navbar-design {
    background: #269aff;
  }
  .navbar-design nav {
    position: absolute;
    width: 35%;
    height: calc(100vh - 50px);
    top: 50px;
    background: #269aff;
    left: -100%;
    transition: 0.5s;
  }
  .navbar-design nav.active {
    left: 0;
  }
  .navbar-design nav ul {
    display: block;
    text-align: center;
  }

  .navbar-design nav ul:first-child {
    margin-top: 50px;
  }
  .navbar-design nav ul li a {
    border-bottom: 1px solid #185285;
  }
  .navbar-design nav ul li a:hover {
    background: #fff;
    color: #269aff;
  }

  .navbar-design nav ul li .active{
    background: #2699FB;
    transition: none;
    box-shadow: none;
  }
}

@media screen and (max-width: 767px) {


  /* sidebar design */
  .sidebar {
    width: 120px !important;
    display: none;
  }
  .sidebar .user-img{
    display: block;
  }
  .sidebar .user-img img{
    height: 50px;
    width: 50px;
  }
  .sidebar h3{
    margin: 15px 0px;
    font-size: 12px;
  }
  
  .sidebar ul{
    display: block;
    padding: 15px 0px;
  }
  .sidebar ul li{
    display: block;
    font-size: 15px;
    text-align: center;
  }
  
  .sidebar ul li a{
    display: block;
    font-size: 10px;
  }
  
  .sidebar ul li i{
    padding: 8px 0px;
    margin-left: 0px;
    display: block;
    text-align: center;
    font-size: 14px;
  }

  #sidebarToggle{
    display: block;
  }

  .sidebar.activeSidebar {
    display: block;
    transition: 2s all ease-in-out;
  }
}

@media screen and (max-width: 440px) {
  .sidebar h3{
    font-size: 10px;
  }
}

/**********************************************************

***       orientation  or landscape responsive css      ***

**********************************************************/

@media only screen and (max-width: 1199px) and (orientation: landscape) {
}
@media only screen and (max-width: 991px) and (orientation: landscape) {
}
@media only screen and (max-width: 767px) and (orientation: landscape) {
}
@media only screen and (max-width: 440px) and (orientation: landscape) {
}
