/**********************************

***            Import           ***

**********************************/

/* Google font */

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/**********************************

***       General Setting       ***

**********************************/

/* --- HTML5 display-role reset for older browsers --------------------- */

section {
  display: block;
}
body {
  position: relative;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  /* height: auto !important; */
  height: 100%;
  /* min-height: 100%; */
  /* max-height: 100%; */
}
/* --- typography --------------------- */
/*headings*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0;
  font-weight: 700;
  color: #000000;
}
h1 {
  font-size: 25px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 15px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
/* paragraphs */
p {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: #7a7c82;
  font-weight: 500;
  margin-bottom: 15px;
}
span {
  font-size: 14px;
  line-height: 1.428;
  font-family: 'Poppins', sans-serif;
}
/*strong*/
strong {
  font-size: 16px;
  font-weight: 700;
}
/* Lists */
ol,
ul {
  list-style: none;
  margin-bottom: 0px;
}
/* --- tables --------------------- */

caption,
th,
td {
  text-align: left;
  font-weight: 400;
}
/* --- images --------------------- */
img {
  max-width: 100%;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  vertical-align: middle;
}
/* --- links --------------------- */
a,
a:link,
a:visited,
a:active,
a:focus {
  text-decoration: none !important;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
a,
a:visited {
  outline: 0px;
}
a:hover {
  color: inherit;
}
/* break */
.br {
  display: block;
  height: 30px;
}
/* hr */
hr,
.container hr {
  margin: 0px;
  height: 1px;
  background: #cccccc;
  border: 0px;
}
/* --- clearing --------------------- */
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}

/* --- Svg --------------------- */
.svg {
  width: 100%;
  height: 100%;
}

/**********************************

***            Font

**********************************/




/******************************************** Project Css Start ************/


/**********************************

***         Global Class        ***

**********************************/

/**********************************

***      header section      ***

**********************************/

/* top header design */
.top-header{
  padding: 5px 0;
  background-color:#E2F2FF;
}

/* top social design */
.top-social ul{
  padding-left: 0;
}
.top-social ul li{
  margin-right: 20px;
  color: #2e2e2e;
}

.top-social ul li i{
  color: #2e2e2e;
}

/* top contact design */
.top-contact i{
  color:#2699FB;
  margin: 0px 10px;
}
.fc-modified{
  color:#2699FB;
  border:1px solid #ced4da99;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

/* appointment design */
.appointment-form{
  padding: 42px !important;
}
.appointment-form form{
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
  padding: 50px 30px;
  border-radius: 5px;
}
.appointment-content h2{
  margin: 50px 0px;
  color:#474c6b;
}
.appointment-img{
  text-align: center;
  display: inline-block;
  border: 2px solid #2699FB;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  padding: 18px;
}
.appointment-img img{
  width: 20px;
}




/**********************************

***           Navbar            ***

**********************************/


/* custom navbar design */
.navbar-design{
position: absolute;
top: 50px;
padding: 0 100px;
width: 100%;
box-sizing: border-box;
background: transparent;
z-index: 222;
}

/* logo design */
.logo1{
  float: left;
  width: 100px;
  line-height: 50px;
  margin-left: 5px;
}

/* nav items design */
.navbar-design nav{
  float: right;
}

.navbar-design nav ul{
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar-design nav ul li{
  list-style: none;
}

.navbar-design nav ul li a{
  height: 50px;
  line-height: 50px;
  display: block;
  color: #fff;
  padding: 0 20px;
  text-decoration: none;
  font-weight: 700;
  border-radius: 23px;
  margin-left: 2px;
}

.navbar-design nav ul li a:hover{
  height: 50px;
  line-height: 50px;
  display: block;
  background: #2699FB;
  padding: 0 20px;
  transition: 0.4s all ease-in-out;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

/* menu-toggler design */
.menu-toggler{
  color: #fff;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}


/* .line1, .line2, .line3{
  width: 23px;
  height: 3px;
  margin: 5px;

  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  color: #000000 !important;
} */

/* .change .line1{
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
      -ms-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}
.change .line2{
  opacity: 0;
}
.change .line3{
  -webkit-transform: rotate(45deg) translate(-5px,-6px);
      -ms-transform: rotate(45deg) translate(-5px,-6px);
          transform: rotate(45deg) translate(-5px,-6px);
}

.black{
  background: rgba(0,0,0,.4);  
}
.blackAgain{
  background: rgba(0,0,0,.4);   
} */

/**********************************

***       about-section        ***

**********************************/

/**********************************

***        service section      ***

**********************************/

/**********************************

***     Quote section       ***

**********************************/

/**********************************

***      portfolio     ***

**********************************/

/**********************************

***     counter section       ***

**********************************/

/**********************************

***        contact section      ***

**********************************/

/**********************************

***      instagram section       ***

**********************************/

/**********************************

***      footer section       ***

**********************************/
 
/**********************************

***         Extra Design        ***

**********************************/

.banner-section input::placeholder{
  color: #2699FB !important;
  font-size: 16px;
  padding-left: 3px !important;
}

/**********************************

***   Slick section      ***

**********************************/

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


/**********************************

***         Key Frames        ***

**********************************/

@-webkit-keyframes animLeft{
  0%{
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
    opacity: 0;
  }

  100%{
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animLeft{
  0%{
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
    opacity: 0;
  }

  100%{
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes animRight{
  0%{
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
    opacity: 0;
  }

  100%{
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animRight{
  0%{
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
    opacity: 0;
  }

  100%{
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}


@-webkit-keyframes animUp{
  0%{
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }

  100%{
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


@keyframes animUp{
  0%{
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }

  100%{
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes continuosMove{
  0%{
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }

  100%{
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes continuosMove{
  0%{
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }

  100%{
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes zoomIn{
  0%{
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 0;
  }

  100%{
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 1;
  }
}

@keyframes zoomIn{
  0%{
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 0;
  }

  100%{
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 1;
  }
}

